@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

*{
    font-family: 'RocknRoll One', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url('https://cdn.wallpapersafari.com/29/90/0cadR7.jpg');
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
}
.container{
    background: wheat;
    width: 700px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    align-self: center;
}
.row{
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}
.container > .row{
    justify-content: space-evenly;
    width: 100;
    border-radius: 2px;
}
.profileicon{
    border-radius: 50%;
    border: 2px solid brown;
}
.size{
    font-size: 26px;
    font-weight: bold;
}
.name{
    margin: 20px;
    font-size: x-large;
    font-weight: bold;
}
.runs{
    width: 200px;
    font-size: large;
    font-weight: 700;
    justify-content: space-evenly;
    border-radius: 50%;
}
#strike{
    width: 400px;
    margin: 20px;
    background-color: rgb(69, 165, 152);
    border-radius: 25%;
    border: none;
    font-size: large;
}
#result{
    margin-top: 50px;
    background: yellowgreen;
    text-transform: uppercase;
    font-size: x-large;
    border-radius: 20%;
}
.runs > .col{
    border: 1px solid black;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: white;
}